.footer {


  background-color: darkmagenta;
  bottom: 0px;
  width: 100%;

}


.ui.grid.footer {
  background-color: darkmagenta;
  border: 0px;
  bottom: 0px;
}

.ui.inverted.stackable.divided.grid.footerbackground{
  background-color: darkmagenta;
  border: 0px;
  bottom: 0px;
}